[module]
  [module.hugoVersion]
    extended = true
    min = "0.146.0"
    max = ""
  [[module.mounts]]
    source = "dist/elements.js"
    target = "static/js/hanko-elements.min.mjs"
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    source = 'content'
    target = 'content'
  [[module.mounts]]
    source = 'i18n'
    target = 'i18n'
  [[module.mounts]]
    source = 'layouts'
    target = 'layouts'
  [[module.mounts]]
    source = 'static'
    target = 'static'
  [[module.imports]]
    path = "github.com/gethinode/mod-utils/v5"
