<div id="profile-modal" class="modal fade profile-modal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <strong>{{ T "ui_profile" }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ T "close" }}"></button>
            </div>
            <div class="modal-body p-2">
                <hanko-profile />
            </div>
        </div>
    </div>
</div> 
